/* SETUP */
* {
    box-sizing: border-box;
}

/* SETTINGS */

html {
    --red: #dc143c;
    --green: #2e8b57;
    --blue: #5f9ea0;
}
.red-color {
    color:#dc143c;
}
.green-color {
    color:#2e8b57;
}
.blue-color {
    color:#5f9ea0;
}

/* DEV STYLES */

section {
    border: 4px solid lime;
    /*min-height: 200px;*/
}

/*header, footer, main {
    border: 3px solid red;  
}*/

inner-column {
    display: block;
    border: 8px solid orange;
    padding: 20px;
    margin: 10px 40px;
}

/* TYPOGRAPHY */

/*.loud-voice {
    font-size: 48px;
    font-weight: 700;
}*/

/* STRUCTURE */

body { /* Children are header, 
    main & footer - use for moving footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* fill page */
    font-family: 'Amatic SC', cursive;
}

main { /* shift footer to bottom */
    flex-grow: 1;
}

header {
    text-align: center;
    font-size: 24px;
}

header p {
    opacity: 0.7;
}

.loud-voice {
    font-size: 3em;
    font-weight: 700;
}


weapons-area {
    display: flex;
    justify-content: space-evenly;
    border: 4px solid #5e5e5e;
    border-radius: 5px;
}

.weapon-button {
    background-color: transparent;
    border: none;
}

.rock-icon, .pap-icon, .scissor-icon {
    margin: 50px 0;
    color: #5e5e5e;
    font-size: 70px;
  }

  .rock-icon:hover, .pap-icon:hover, .scissor-icon:hover {
    cursor: pointer;
    transform: scale(1.2) translateY(-20px);
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}

.rock-icon:hover {
    color: var(--red);
}

.pap-icon:hover {
    color: var(--green);
}

.scissor-icon:hover {
    color: var(--blue);
}



/* RESPONSIVE LAYOUT */

@media (max-width: 800px) {
    header {
        font-size: 12px;
    }


}